button,
button:hover,
button:focus
    font-family: inherit
    outline: none

.btn
    font-weight: 500
    font-size: 16px
    border: 1px solid #FFFFFF
    padding: 17px 70px 17px 30px
    display: block
    background: transparent
    color: #fff
    &:hover
        background: #fff
        color: $main_color
        transition: $transition
        border: 1px solid transparent
        border-radius: 5px
    &:active
        background: #dadada
    &_header
        padding: 14px 23px
        font-size: 14px
        line-height: 17px
        width: 187px
        height: 45px
    &_offer
        margin: 90px 24px 0 0
        position: relative
        &::before
            content: ""
            display: block
            width: 9px
            height: 2px
            background: #fff
            position: absolute
            transform: rotate(45deg)
            top: 23px
            right: 33px
            transition: $transition
        &::after
            content: ""
            display: block
            width: 9px
            height: 2px
            background: #fff
            position: absolute
            transform: rotate(-45deg)
            bottom: 23px
            right: 33px
            transition: $transition
        &:hover
            &::before
                background: $main_color
            &::after
                background: $main_color
    &_projects
        margin: 97px auto 0
        position: relative
        &::before
            content: ""
            display: block
            width: 9px
            height: 2px
            background: #fff
            position: absolute
            transform: rotate(135deg)
            top: 50%
            right: 31px
            transition: $transition
        &::after
            content: ""
            display: block
            width: 9px
            height: 2px
            background: #fff
            position: absolute
            transform: rotate(45deg)
            bottom: calc( 50% - 2px )
            right: 37px
            transition: $transition
        &:hover
            &::before
                background: $main_color
            &::after
                background: $main_color
